:host {
    display: block;
    text-align: center;
    padding: 20px;
}

div {
    display: flex;
    justify-content: center;
    width: 100%;
}

filters-component {
    width: min-content;
    padding: 10px;
    margin-right: 5px;
    max-width: 300px;
}

content-component {
    width: 100%;
    margin-left: 5px;
}