:host {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: var(--text-color, black);
    padding: 10px;
    text-align: center;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
}

:host(:hover) {
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    scale: 1.05;

    transition: scale 0.5s, box-shadow 0.5s, position 0.5s;
}

img {
    border: 1px solid var(--text-color, black);
    border-radius: 5px;
    min-width: 50px;
    min-height: 50px;
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}

#img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

#info-container {
    text-align: left;

}

#button-container {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: end;
}

button {
    background: transparent;
    color: var(--text-color, black);
    border: 1px solid var(--text-color, black);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    margin: 0 5px;
    cursor: pointer;
}

button:hover {
    background: var(--text-color, black);
    color: var(--background-color, white);

    transition: background 0.5s, color 0.5s;
}