:host {
    position: relative;
    z-index: 100;
}

main {
    position: sticky;
    top: 0;
    
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-window-controls {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

#modal-window-flex-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color, black);
    padding: 10px;
    height: 100%;
    text-align: left;
    width: calc(100% - 20px);
}

#modal-window-content {
    background: linear-gradient(180deg, var(--bg-color-1), var(--bg-color-2, white));   
    padding: 10px;
    border-radius: 5px;
    height: 60vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#close-btn {
    cursor: pointer;
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    background: transparent;
    font-size: 1.5rem;
    z-index: 1000;
}

#button-container {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
}

#button-container button {
    margin-left: 10px;
    background: transparent;
    border: 1px solid var(--text-color, black);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#info-container {
    text-align: left;
    width: 100%;

}

#img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

img {
    border: 1px solid var(--text-color, black);
    border-radius: 5px;
    min-width: 50px;
    min-height: 50px;
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}

@media screen and (max-width: 800px) {
    #modal-window-content {
        max-width: 80vw;
        max-height: calc(100vh - 470px);
    }

    #modal-window-flex-content {
        width: calc(100% - 20px);
        max-height: calc(100vh - 450px);
    }
    
    #info-container * {
        margin: 2px;
    }
}