.range-track {
    /* Set the height of the track */
    display: block;
    height: 5px;
    /* Set the background color of the track */
    background-color: var(--sc-color);
    /* Set the border radius of the track */
    border-radius: 5px;
    /* Set the position of the track */
    position: relative;
    width: 100%;
    height: 10px;
}

.range-thumb {
    /* Set the width and height of the thumb */
    width: 20px;
    height: 20px;
    /* Set the border radius of the thumb */
    border-radius: 50%;
    /* Set the background color of the thumb */
    background-color: var(--pr-color);
    /* Set the position of the thumb */
    position: absolute;
    /* Set the top and left of the thumb */
    top: 50%;
    left: 10px;
    /* Set the transform of the thumb */
    transform: translateY(-50%);
    /* Set the cursor of the thumb */
    cursor: pointer;
}

.selected-range {
    /* Set the height of the selected range */
    height: 10px;
    /* Set the background color of the selected range */
    background-color: var(--pr-color);
    /* Set the border radius of the selected range */
    border-radius: 5px;
    /* Set the position of the selected range */
    position: absolute;
    /* Set the top of the selected range */
    top: 50%;
    /* Set the left of the selected range */
    left: 0;
    /* Set the transform of the selected range */
    transform: translateY(-50%);
    /* Set the pointer events of the selected range */
    pointer-events: none;
}