label {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

range-input {
    /* Remove default appearance */
    width: 100%;
    min-width: 200px;
    display: block;
    padding: 0 10px;
    margin: 0;
    /* Remove default background */
}