:root {
    --header-height: 3rem;
    --footer-height: 3rem;
    --pr-color: #fa6404;
    --sc-color: #d58d8d;
    --bg-color-1: #E2725B;
    --bg-color-2: #ffdd44;
    --text-color: #703c00;
    --font-style: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    font-family: var(--font-style);
    background: linear-gradient(45deg, var(--bg-color-1) 0.5%, var(--bg-color-2) 70%);
}