:host {
    display: flex;
    color: white;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: calc(100% - 20px);
    height: var(--footer-height, 100px);
}

h2 {
    margin: 0;
    font-size: 1.2em;
    color: var(--text-color, white);
    font-family: var(--font-style);
}